{% extends 'filmy/base.html' %}

{% block 'title' %}Filmy | {{ block.super }}{% endblock %}

{% block 'content' %}



<h1>Filmy</h1>

<div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
    {% for movie in movies %}
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top"
                src="{% if movie.main_picture %}{{movie.main_picture}}{% else %}//place-hold.it/180x100/{% endif %}"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{movie.name}} {{movie.year}} </h5>

                {% if movie.director %} <h6> {{ movie.director.name }} </h6> {% endif %}

                {% for genre in movie.genres.all %}
                <span class="badge rounded-pill text-bg-primary">{{genre.name}}</span>
                {% endfor %}



                <p class="card-text "> {{movie.description | truncatewords_html:10}} </p>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'movie' movie.id %}" class="btn btn-primary">Detaily</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}